<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="homepage.css">
  <title>Alpha-Blog</title>
</head>
<header>
  <%= render 'pages/top_navigation' %>
  <div class="centered_content">
  <h1 class="page_title">Edit an article</h1>
      <%= render 'form' %>
  </div>
</header>
