<img id="logo" src="/images/kai_logo.png">
<h1 id="page_header">Kai <br>Nass</h1>
<ul class="header_ul">
  <li class="header_li"><p><%= link_to 'Homepage', root_path %></p></li>
  <li class="header_li"><p><%= link_to 'About', about_path %></p></li>
  <li class="header_li"><a href="#">Imprint</a></li>
</ul>
<hr class="full_line">
