<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="homepage.css">
  <title>Alpha-Blog</title>
</head>
<body>
    <!-- --------------------------------->
    <header>
      <%= render 'top_navigation' %>

      <div class="header_div">
        <h2>This is your Homepage.<br>Mate.</h2>
        <p class="btn btn_voll"><%= link_to 'Artikel', articles_path %></p>
        <p class="btn btn_leer"><%= link_to 'Author', author_new_path %></p>
        <p class="btn btn_leer">Write me</p>
      </div>
    </header>
    <section>
        <h2>HOMEPAGE</h2>
    </section>
</body>
